content component

<br>

<h2>${properties.text} </h2>
<h3>${properties.textfield}</h3>
<h4>${properties.textarea}</h4>

<h5>${properties.checkbox} </h5>
<div data-sly-list.al="${properties.multi}">
	${al}<br>
</div>

<div data-sly-use.li="/apps/practiceSample/components/content/practiceSampleContentCompo/scriptFile.js">
	<h6>${li.tx} </h6>
	<h6>${li.tf} </h6>
	<h6>${li.ta} </h6>
	<h6>${li.cb} </h6>
</div>

<div> 
    <img src="${properties.image}" height="150px" width="350px">
        ${properties.text}
</div>